body {
    background-color: black;
	 color: white;
}
h1 {
    text-align: center; 
	 font: 24px sans-serif; 
	 font-weight: bold; 
	 padding-left: 30px; 
	 color: white;
}

h4 {
	text-align: center; 
	font: 14px sans-serif;
	color: #dcdcdc;
}
svg {
    font: 10px sans-serif;
    display:block;
    margin:auto;
}

.caption {
    font-weight: bold;
}

.key path {
    display: none;
}

.key line {
    fill: none;
    stroke: #d3d3d3;
    shape-rendering: crispEdges;
}

.fire {
    fill: firebrick;
    stroke-opacity: .5;
    fill-opacity: .5;
}

.fire:hover {
    fill: orangered;
    stroke-opacity: .5;
    fill-opacity: 1;
}

.state-border {
    fill: none;
    stroke: #d3d3d3;
    stroke-opacity: .7;
}

.county-border {
    fill: none;
    stroke: #d3d3d3;
    stroke-opacity: .7;
}

.tooltip {
    position: absolute;
    font: 16px sans-serif;
    text-align: left;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: grey;
    border-radius: 2px;
    left: 800px;
    top: -300px;
}

tab1 { float: left}
tab2 { float: right}

.svg-container {
	 /*display: inline-block;
	 position: relative;*/
    width: 100%;
	 vertical-align: top;
	 overflow: hidden;
}

/*.svg-content {
	 display: inline-block;
	 position: relative;
	 horizontal-align: center;
}*/

#slider {
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
}

.yearBox {
    font: 12px sans-serif;
    color: white;
    text-align: center;
    position: element(.d3-slider-handle);
    transform: translateY(-100%);
}

header {
    font: 14px sans-serif;
    padding: 1em;
    color: white;
    background-color: #404040;
    clear: left;
    text-align: center;
}

column1 {
    float: left;
    font: 12px sans-serif;
    width: 33%;
    height: 100%;
    /*border-right: 1px solid gray;*/
    padding-top: 1em;
}

column2 {
    float: left;
    font: 12px sans-serif;
    width: 33%;
    height: 100%;
    padding-top: 1em;
}

column3 {
    float: left;
    font: 12px sans-serif;
    width: 33%;
    height: 100%;
    /*border-left: 1px solid gray;*/
    padding-top: 1em;
}
